.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.button {
  height: 60px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  transition: all 0.2s ease;
}

.button:hover {
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.4);
}

.button:active {
  transform: scale(0.95);
}

.operator {
  background: rgba(255, 183, 77, 0.7);
}

.equal {
  background: rgba(76, 175, 80, 0.8);
  color: white;
  grid-column: span 2;
}
