.display {
  width: 100%;
  height: 70px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 28px;
  font-weight: bold;
  text-align: right;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}
